.dockerignore

Dockerfile

.venv/
*.pyc
*.pyo
*.pyd
__pycache__/

*.idea/
.vscode/
*.swp

*.log
*.coverage
.coverage.*
htmlcov/
.cache/
pytest_cache/
.tox/

node_modules/
staticfiles/
media/
.env
.env.local
*.sqlite3

*.md
*.rst

*.tar
*.zip
*.gz
*.tgz
*.bz2
